<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <h2>Update User</h2>
    <form th:action="@{/update}" th:object="${editUser}" method="post">
        <div>
            <input type="hidden" name="id" th:value="${editUser.getId()}"/>
            <label>Name</label>
            <input type="text" th:field="*{name}">
            <br>
            <label>Last Name</label>
            <input type="text" th:field="*{lastName}">
            <br>
            <label>Age</label>
            <input type="text" th:field="*{age}">
        </div>
        <input type="submit" value="Submit changes">
    </form>
</div>
</body>
</html>